<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<nav id="nav">
    <ul class="links">
        <li class="active"><a href='/' class="selected">Home</a></li>
        
        <li><a href='/#footer'>Contact</a></li>
        
        <li class="active"><a href='/c/' class="selected">History</a></li>
     <li ><a href="/a/">About</a></li>
        
        
    </ul>
    
    <ul class="icons">
        
        <li><a href="https://twitter.com/" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        
        
        <li><a href="https://facebook.com" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        
        
        <li><a href="https://instagram.com" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        
        
        <li><a href="https://www.linkedin.com" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        
        
        <li><a href="https://github.com/" class="icon fa-github"><span class="label">GitHub</span></a></li>
        
        
        <li><a href="https://youtube.com/" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
        
        
        
        
        
                
    </ul>
    
</nav>